body#control {
  @import "control_hud";

  button {
    text-transform: uppercase;
  }

  #cards {
    padding-top: 15px;

    .card {
      .panel-body {
        max-height: 200px;
      }

      .panel-title {
        font-weight: bold;
      }

      .actions {
        padding-top: 25px;
      }

      button {
        position: absolute;
        bottom: 30px;
      }

      @media (max-width: 992px) {
        button {
          bottom: 10px;
        }
      }

      @media (min-width:768px) and (max-width: 992px) {
        button {
          bottom: 30px;
        }
      }

      button.send {
        right: 25px;
      }

      button.skip {
        right: 95px;
      }
    }
  }

  #custom-hint-popup {
    display: none;
    width: 530px;
    padding: 15px;

    h1 {
      margin: 0 auto 30px;
    }

    h4 {
      margin: 15px auto 30px;
    }

    form {
      text-align: right;

      label {
        display: none;
      }

      * {
        margin: 20px auto 0;
      }
    }
  }
}