body#login {
  background-color: #eee;
}

body#login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

body#login #flash-msg {
  margin-top: 40px;
}

body#login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

body#login .form-control:focus {
  z-index: 2;
}

body#login input[type="password"] {
  margin-bottom: 10px;
}

body#login .btn-primary {
  text-transform: capitalize;
  margin-top: 15px;
}

.upper-hud {
  position: relative;
}

.upper-hud .end {
  position: absolute;
  right: 30px;
  top: 25px;
}

.upper-hud button.hint {
  margin-top: 15px;
}

@media (max-width: 992px) {
  .upper-hud .end {
    top: 25px;
  }
}

body#control button {
  text-transform: uppercase;
}

body#control .cards {
  padding-top: 15px;
}

body#control .card .panel-body{
  max-height: 200px;
}

body#control .card .panel-title {
  font-weight: bold;
}

body#control .card .actions {
  padding-top: 25px;
}

body#control .card button {
  position: absolute;
  bottom: 30px;
}

@media (max-width: 992px) {
  body#control .card button {
    bottom: 10px;
  }
}

@media (min-width:768px) and (max-width: 992px) {
  body#control .card button {
    bottom: 30px;
  }
}

body#control .card button.send {
  right: 25px;
}

body#control .card button.skip {
  right: 95px;
}

body#menu .btn-lg {
  margin-top: 30px;
}