body#login {
  background-color: #eee;
  padding: 15px;

  .container {
    float: none;
    margin: 0 auto;

    #flash-msg {
      margin-top: 40px;
    }

    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }

    .form-control:focus {
      z-index: 2;
    }

    input[type="password"] {
      margin-bottom: 10px;
    }

    .btn-primary {
      text-transform: capitalize;
      margin-top: 15px;
    }
  }
}